.container{
    width: 100%;
    height: 850px;
    /* background-color: aqua; */
}
.all-picture-div{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: space-around;
    /* background-color: beige; */
}
.all-picture-div-1{
    width: 30%;
    height: 100%;
    /* background-color: bisque; */
}
.all-picture-div-2{
    width: 30%;
    height: 100%;
    /* background-color: bisque; */
}
.all-picture-div-3{
    width: 30%;
    height: 100%;
    /* background-color: bisque; */
}

.all-picture-div-1-image{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
}
.all-picture-div-2-image{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
}
.all-picture-div-3-image{
    height: 50%;
    width: 100%;
    /* background-color: blue; */
}
.all-picture-div-1-discription{
    height: 50%;
    width: 100%;
    
    /* background-color: blue; */
}
.all-picture-div-2-discription{
    height: 50%;
    width: 100%;
    
    /* background-color: blue; */
}
.all-picture-div-3-discription{
    height: 50%;
    width: 100%;
    
    /* background-color: blue; */
}
.all-picture-div-1-discription-title{
    height: 50%;
    width:55%;
    font-size:40px;
    margin: auto;
    color:#268fd0;
    font-weight: 500;
    /* background-color:red; */
}
.all-picture-div-1-discription-title>h1{
    font-size: 40px;
}
.all-picture-div-1-discription-para{
    height: 50%;
    width:100%;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    color: #46618a;
    margin-top: -30px;
    /* background-color:red; */
}


.more{
    width: 100%;
    height:100px ;
    margin-top: 100px;
   
    /* background-color: red; */
    text-align: center;
}

.morefeature{
    width: 250px;
    height:60px;
    margin-top: 50px;
    border: 2px solid green;
    border-radius: 30px;
    margin: auto;
}